.section-heading {
  font-family: AmericanTypewriter, serif;
  font-size: 2.4rem;
  text-align: center;
  padding: 16px 0;
  margin: 24px 0 40px;
  @include mq(xl) {
    margin: 48px 0 80px;
  }
}

.section-inner {
  width: 90%;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 64px;
}

.btn {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  padding: 0.5em 1em;
  background-color: transparent;
  transition: .4s;
  border: 1px solid transparent;
  &--ok {
    color: $color-btn-ok__text;
    background-color:$color-btn-ok__background;
    border-color: $color-btn-ok__border;
    &:hover {
      background-color: lighten($color-btn-ok__background, 15%);
    }
  }
  &--back {
    color: $color-btn-back__text;
    background-color:$color-btn-back__background;
    border-color: $color-btn-back__border;
    &:hover {
      background-color: lighten($color-btn-back__background, 15%);
    }
  }
  &--detail {
    color: $color-btn-detail__text;
    background-color:$color-btn-detail__background;
    border-color: $color-btn-detail__border;
    padding: 0.7em 0;
    position: relative;
    &::before {
      content: '';
      width: 30%;
      position: absolute;
      top: 50%;
      left: -20%;
      border-bottom: 1px solid $color-btn-detail__border;
      transition: 0.4s;
    }
    &:hover::before {
      left: -4%;
    }
  }
  &--operationcart {
    color: $color-btn-addcart__text;
    background-color:$color-btn-addcart__background;
    border-color: $color-btn-addcart__border;
    border-width: 2px;
    font-weight: bold;
    &:hover {
      background-color: darken($color-btn-addcart__background, 5%);
    }
  }

}

.label {
  text-align: center;
  &--price{
    color: $color-labal-detail__text;
    background-color: $color-labal-detail__background;
    padding: 0.3em;
    font-weight: bold;
    letter-spacing: 1px;
  }
  &--current {
    color: $color-labal-current__text;
    background-color: $color-labal-current__background;
    border: 2px solid $color-labal-current__border;
  }
  &--not-active {
    color: $color-labal-not-active__text;
    background-color: $color-labal-not-active__background;
  }
}

.anchor {
  padding-top: 60px;
  margin-top: -60px;
}

.card {
  width: 320px;
  height: 450px;
  background-color: #1B435D;
  border-radius: 10px;
  color: #fff;
  margin: 0 16px 16px 0;
  &__title {
    padding: 0.5em 0;
    font-size: 2.4rem;
    text-align: center;
  }
  &__img {
    height: 200px;
    overflow: hidden;
  }
  &__text {
    font-size: 1.6rem;
    padding: 1em;
  }
}