// セクション毎にスタイルを当てていく

@charset "utf-8";

.fv {
  @include mq() {
    position: relative;
  }
  &__pic {
    background-repeat: no-repeat;
    height: calc((100vh - 60px) / 3);
    background-size: cover;
    &--01 {
      background-image: url(../../kv01@2x@2x.png);
      @include mq() {
      background-image: url(../../tab-kv@2x.jpg);
        height: calc(100vh - 60px);
      }
      @include mq(xl) {
      background-image: url(../../kv-pc@2x.jpg);
        height: calc(100vh - 60px);
      }
    }
    &--02 {
      background-image: url(../../kv02@2x@2x.png);
      @include mq() {
        display: none;
      }
    }
  }
  &__content-box {
    height: calc((100vh - 60px) / 3);
    @include mq() {
      height: auto;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
    }
    @include mq(xl) {
      bottom: auto;
      top: 50%;
      transform: translateY(-50%);
      left: auto;
      right: 5%;
    }  
    .fv-box {
      height: 100%;
      background-color: $color-fv-box__background;
      color: $color-fv-box__text;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include mq() {
        padding: 24px 40px;
      }
      &__title {
        font-size: 1.2rem;
        @include mq() {
          text-align: left;
          font-size: 2.4rem;
          margin-bottom: 1.6rem;
        }
        @include mq(xl) {
          font-size: 3.2rem;
        }
      }
      &__text {
        font-size: 2.4rem;
        margin-bottom: 0.8rem;
        @include mq() {
          text-align: left;
          font-size: 4.8rem;
          margin-bottom: 1.6rem;
        }
      }
      &__btns {
        display: flex;
      }
      &__btn {
        width: 90%;
        margin: 0 auto;
        padding: 0.6em 0;
        @include mq(sm) {
          width: 50%;
        }
        @include mq() {
          width: 300px;
          margin: 0 16px 0 0;
        }
        @include mq(xl) {
          font-size: 2.4rem;
        }
      }
      &__btn.btn--back {
        display: none;
        @include mq() {
          display: block;
        }
      }
    }
  }
}

.introduce {
  background-color: $color-introduce-section__background;
  &__content {
    margin: 32px 0;
    @include mq() {
      margin: 32px 0 80px;
    }
    @include mq(xl) {
      margin: 32px 0 240px;
    }
    .introduce-box {
      position: relative;
      &__text {
        font-weight: 600;
        width: 80%;
        margin-left: auto;
        line-height: 56px;
        @include mq() {
          width: 55%;
        }
        @include mq(xl) {
          padding-top: 80px;
        }
      }
      &__image {
        width: 80%;
        position: absolute;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
        @include mq(sm) {
          width: 60%;
        }  
        @include mq() {
          top: 0;
          transform: initial;
          width: 70%;
        }
        @include mq(lg) {
          width: 40%;
          z-index: initial;
        }
      }
    }
    &:nth-of-type(even) .introduce-box {
      &__text {
        margin-left: 0;
        margin-right: auto;
        @include mq(xl) {
          padding-top: 80px;
        }
      }
      &__image {
        right: 0;
        top: 70%;
        @include mq() {
          top: 30%;
          width: 60%;
        }
        @include mq(lg) {
          width: 40%;
          z-index: initial;
        }
      }
    }
  }
}

.part-of-item {
  &__list {
    width: 90%;
    margin: 0 auto;
    @include mq(sm) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 300px;
    }
    @include mq(md) {
      max-width: 700px;
    }
    @include mq(lg) {
      max-width: 900px;
    }
    @include mq(xl) {
      max-width: 1400px;
    }
    @include mq(xxl) {
      max-width: 1800px;
    }
    .topitem-card {
      color: $color-item-list__text;
      width: 100%;
      max-width: 300px;
      margin: 0 auto 64px;
      @include mq(sm) {
        padding: 0 8px;
        margin: 0 0 64px;
      }
      @include mq(lg) {
        padding: 0 16px;
        margin-bottom: 80px;
      }
      @include mq(xl) {
        width: auto;
      }
      &__image {
        margin-bottom: 12px;
      }
      &__title {
        text-align: center;
        margin-bottom: 12px;
      }
      &__price {
        width: 180px;
        margin: 0 auto;
        font-size: 1.2rem;
        margin-bottom: 16px;
      }
      &__btn {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
  &__btn {
    margin-bottom: 120px;
    @include mq(sm) {
      width: 50%;
      margin: 0 auto 120px;
    }  
  }
}

